<section class="favourites">
    <h1 class="section-title">Favorites</h1>

    <div class="favourites-section" aria-label="Обрані викладачі">
        <button class="list-prev-button" type="button" aria-label="Попередні викладачі">
            <img src="../../src/static/images/arrow.png" alt="prev-teacher" aria-hidden="true">
        </button>

        <button class="list-next-button" type="button" aria-label="Наступні викладачі">
            <img src="../../src/static/images/arrow.png" alt="next-teacher" aria-hidden="true">
        </button>

        <div class="favourites-list" tabindex="0"></div>
    </div>
</section>